<a href="https://colab.research.google.com/github/mujiechenTC/data-science-/blob/main/mujie's_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Do you know that there is now a well-known game League of Legends. It holds some tournaments every year, and in China the name of this tournament is called LPL, which is similar to NBA. I counted the play of some famous top players in lpl. Their ids are, summit, theshy, rich and flandre. I used these data to make a mod. this mod can help some clubs to get the players they want. For example, when a rookie top player finishes a match, input his data into this mod and you can get his style of play. If it shows "theshy", then it means that the player is very aggressive on the field and can be the core of the team. If it shows "rich", then it means that the player can still produce high output in team battles even if he is not given too much resources. And if a club needs a top player who can help the other menbers team during the game, then they can choose the player with result "flandre". And if they want a top player with a magnificent kda, then "summit" is a quality option.

download the lpl top file from this link https://drive.google.com/file/d/1n1_sr0VCKbg-UQIUoqubyneMR0ITnZAm/view?usp=sharing

In [ ]:
from sklearn import svm

import pandas as pd

df = pd.read_csv("lpl top.csv")

df

    ID  K  D   A  Damage dealt  Damege taken  Gold earned    Style
0    1  4  1   9         22710         16341        13653   summit
1    2  3  3   6         25249         40140        15825   summit
2    3  1  5   1         11577         25420         9835   summit
3    4  0  6   1         12514         18785         8548   summit
4    5  5  1   6         21161         17587        11821   summit
..  .. .. ..  ..           ...           ...          ...      ...
58  59  1  2  11         16104         20741        14690  flandre
59  60  1  4   5          7976         21096         9657  flandre
60  61  4  4   4         27346         22702        15366  flandre
61  62  5  4   3         23213         24303        14794  flandre
62  63  2  3   0         13640         16221         9538  flandre

[63 rows x 8 columns]

set kill, death, assistance, damage dealt, damage taken, gold earned as x

In [ ]:
X = df[['K', 'D', 'A', 'Damage dealt', 'Damege taken', 'Gold earned']]
X

    K  D   A  Damage dealt  Damege taken  Gold earned
0   4  1   9         22710         16341        13653
1   3  3   6         25249         40140        15825
2   1  5   1         11577         25420         9835
3   0  6   1         12514         18785         8548
4   5  1   6         21161         17587        11821
.. .. ..  ..           ...           ...          ...
58  1  2  11         16104         20741        14690
59  1  4   5          7976         21096         9657
60  4  4   4         27346         22702        15366
61  5  4   3         23213         24303        14794
62  2  3   0         13640         16221         9538

[63 rows x 6 columns]

set player's style as y

In [ ]:
Y = df[['Style']]
Y

      Style
0    summit
1    summit
2    summit
3    summit
4    summit
..      ...
58  flandre
59  flandre
60  flandre
61  flandre
62  flandre

[63 rows x 1 columns]

Encode player's style

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

yEncoded = le.fit_transform(Y['Style'])

train model

In [ ]:
irisPredictionModel = svm.SVC()

irisPredictionModel.fit(X, yEncoded)

SVC()

input: place to enter player's performence

In [ ]:
prediction = irisPredictionModel.predict([[ 7, 0, 5, 20000, 23000, 20143]] )

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

output: player's style

In [ ]:
returnToOrginal = le.inverse_transform(prediction)

print(returnToOrginal)

['summit']